<%-include('header')-%>
    <div class="container">
        <h3>Welcome to Dashboard</h3>
        <h5><%=locals.user?user:"User"%></h5>
        <a href="/logout">Logout</a>
    </div>
<%-include('footer')-%>